workflows/community-collection/0195_Manual_Pagerduty_Create_Triggered.json
{
  "id": "158",
  "name": "Create, update, and get an incident on PagerDuty",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        240,
        260
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "PagerDuty",
      "type": "n8n-nodes-base.pagerDuty",
      "position": [
        440,
        260
      ],
      "parameters": {
        "email": "",
        "title": "Firewall on Fire",
        "serviceId": "",
        "additionalFields": {}
      },
      "credentials": {
        "pagerDutyApi": ""
      },
      "typeVersion": 1
    },
    {
      "name": "PagerDuty2",
      "type": "n8n-nodes-base.pagerDuty",
      "position": [
        840,
        260
      ],
      "parameters": {
        "operation": "get",
        "incidentId": "={{$node[\"PagerDuty1\"].json[\"id\"]}}"
      },
      "credentials": {
        "pagerDutyApi": ""
      },
      "typeVersion": 1
    },
    {
      "name": "PagerDuty1",
      "type": "n8n-nodes-base.pagerDuty",
      "position": [
        640,
        260
      ],
      "parameters": {
        "email": "={{$node[\"PagerDuty\"].parameter[\"email\"]}}",
        "operation": "update",
        "incidentId": "={{$node[\"PagerDuty\"].json[\"id\"]}}",
        "updateFields": {
          "title": "Firewalls on Fire"
        }
      },
      "credentials": {
        "pagerDutyApi": ""
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "PagerDuty": {
      "main": [
        [
          {
            "node": "PagerDuty1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagerDuty1": {
      "main": [
        [
          {
            "node": "PagerDuty2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "PagerDuty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "id": "158",
    "name": "Create, update, and get an incident on PagerDuty",
    "description": "",
    "source": "community-collection",
    "category": {
      "business": "",
      "platform": "",
      "type": "automation"
    },
    "metadata": {
      "complexity": "beginner",
      "department": "",
      "nodes_count": 4,
      "integrations": [
        "manualTrigger",
        "pagerDuty"
      ],
      "estimated_cost": "medium",
      "security_level": "public"
    },
    "tags": [],
    "created_at": "2025-07-07T19:41:49.409041",
    "updated_at": "2025-07-07T19:41:49.409041",
    "version": "1.0.0"
  }
}