workflows/community-collection/0305_Manual_Telegram_Create_Triggered.json
{
  "id": "191",
  "name": "Create a screenshot of a website and send it to a telegram channel",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        650,
        300
      ],
      "parameters": {
        "file": "={{$node[\"uProc\"].json[\"message\"][\"result\"]}}",
        "chatId": "",
        "operation": "sendPhoto",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "Telegram n8n bot"
      },
      "typeVersion": 1
    },
    {
      "name": "uProc",
      "type": "n8n-nodes-base.uproc",
      "position": [
        450,
        300
      ],
      "parameters": {
        "url": "https://n8n.io",
        "tool": "getUrlScreenshot",
        "group": "image",
        "width": "1024",
        "fullpage": "yes",
        "additionalOptions": {}
      },
      "credentials": {
        "uprocApi": "uProc credentials"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "uProc": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "uProc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "id": "191",
    "name": "Create a screenshot of a website and send it to a telegram channel",
    "description": "",
    "source": "community-collection",
    "category": {
      "business": "",
      "platform": "",
      "type": "automation"
    },
    "metadata": {
      "complexity": "beginner",
      "department": "",
      "nodes_count": 3,
      "integrations": [
        "manualTrigger",
        "telegram",
        "uproc"
      ],
      "estimated_cost": "medium",
      "security_level": "public"
    },
    "tags": [],
    "created_at": "2025-07-07T19:41:49.132043",
    "updated_at": "2025-07-07T19:41:49.132044",
    "version": "1.0.0"
  }
}