workflows/community-collection/1075_Manual_Wordpress_Create_Triggered.json
{
  "id": "60",
  "name": "Create a post and update the post in WordPress",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        570,
        260
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        770,
        260
      ],
      "parameters": {
        "title": "created from n8n",
        "additionalFields": {}
      },
      "credentials": {
        "wordpressApi": "wordpress"
      },
      "typeVersion": 1
    },
    {
      "name": "Wordpress1",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        970,
        260
      ],
      "parameters": {
        "postId": "={{$node[\"Wordpress\"].json[\"id\"]}}",
        "operation": "update",
        "updateFields": {
          "content": "This post was created using the n8n workflow."
        }
      },
      "credentials": {
        "wordpressApi": "wordpress"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Wordpress": {
      "main": [
        [
          {
            "node": "Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "id": "60",
    "name": "Create a post and update the post in WordPress",
    "description": "",
    "source": "community-collection",
    "category": {
      "business": "",
      "platform": "",
      "type": "automation"
    },
    "metadata": {
      "complexity": "beginner",
      "department": "",
      "nodes_count": 3,
      "integrations": [
        "manualTrigger",
        "wordpress"
      ],
      "estimated_cost": "medium",
      "security_level": "public"
    },
    "tags": [],
    "created_at": "2025-07-07T19:46:34.979581",
    "updated_at": "2025-07-07T19:46:34.979583",
    "version": "1.0.0"
  }
}