workflows/community-collection/1095_Manual_Teams_Automate_Triggered.json
{
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        540,
        360
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Microsoft Teams",
      "type": "n8n-nodes-base.microsoftTeams",
      "position": [
        740,
        360
      ],
      "parameters": {
        "name": "n8n-docs-demo",
        "teamId": "d6b83b00-085d-472c-a6d9-8c2c32c1424e",
        "options": {}
      },
      "credentials": {
        "microsoftTeamsOAuth2Api": "teams_n8n"
      },
      "typeVersion": 1
    },
    {
      "name": "Microsoft Teams1",
      "type": "n8n-nodes-base.microsoftTeams",
      "position": [
        940,
        360
      ],
      "parameters": {
        "teamId": "={{$node[\"Microsoft Teams\"].parameter[\"teamId\"]}}",
        "channelId": "={{$node[\"Microsoft Teams\"].json[\"id\"]}}",
        "operation": "update",
        "updateFields": {
          "name": "n8n-documentation-demo"
        }
      },
      "credentials": {
        "microsoftTeamsOAuth2Api": "teams_n8n"
      },
      "typeVersion": 1
    },
    {
      "name": "Microsoft Teams2",
      "type": "n8n-nodes-base.microsoftTeams",
      "position": [
        1140,
        360
      ],
      "parameters": {
        "teamId": "={{$node[\"Microsoft Teams\"].parameter[\"teamId\"]}}",
        "message": "n8n rocks!",
        "resource": "channelMessage",
        "channelId": "={{$node[\"Microsoft Teams\"].json[\"id\"]}}",
        "messageType": "text"
      },
      "credentials": {
        "microsoftTeamsOAuth2Api": "teams_n8n"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Microsoft Teams": {
      "main": [
        [
          {
            "node": "Microsoft Teams1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Teams1": {
      "main": [
        [
          {
            "node": "Microsoft Teams2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Microsoft Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "id": "",
    "name": "Untitled Workflow",
    "description": "",
    "source": "community-collection",
    "category": {
      "business": "",
      "platform": "",
      "type": "automation"
    },
    "metadata": {
      "complexity": "beginner",
      "department": "",
      "nodes_count": 4,
      "integrations": [
        "microsoftTeams",
        "manualTrigger"
      ],
      "estimated_cost": "medium",
      "security_level": "public"
    },
    "tags": [],
    "created_at": "2025-07-07T19:46:34.846915",
    "updated_at": "2025-07-07T19:46:34.846916",
    "version": "1.0.0"
  }
}