workflows/community-collection/1156_Openweathermap_Cron_Update_Scheduled.json
{
  "id": "82",
  "name": "Send daily weather updates via a push notification using the Pushcut node",
  "nodes": [
    {
      "name": "Pushcut",
      "type": "n8n-nodes-base.pushcut",
      "position": [
        1050,
        420
      ],
      "parameters": {
        "additionalFields": {
          "text": "=Hey! The temperature outside is {{$node[\"OpenWeatherMap\"].json[\"main\"][\"temp\"]}}°C.",
          "title": "Today's Weather Update"
        },
        "notificationName": "n8n"
      },
      "credentials": {
        "pushcutApi": "Pushcut Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "OpenWeatherMap",
      "type": "n8n-nodes-base.openWeatherMap",
      "position": [
        850,
        420
      ],
      "parameters": {
        "cityName": "berlin"
      },
      "credentials": {
        "openWeatherMapApi": "open-weather-map"
      },
      "typeVersion": 1
    },
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        650,
        420
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Pushcut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "id": "82",
    "name": "Send daily weather updates via a push notification using the Pushcut node",
    "description": "",
    "source": "community-collection",
    "category": {
      "business": "",
      "platform": "",
      "type": "automation"
    },
    "metadata": {
      "complexity": "beginner",
      "department": "",
      "nodes_count": 3,
      "integrations": [
        "cron",
        "pushcut",
        "openWeatherMap"
      ],
      "estimated_cost": "medium",
      "security_level": "public"
    },
    "tags": [],
    "created_at": "2025-07-07T19:41:48.925477",
    "updated_at": "2025-07-07T19:41:48.925478",
    "version": "1.0.0"
  }
}