workflows/community-collection/1163_Openweathermap_Cron_Update_Scheduled.json
{
  "id": "84",
  "name": "Send daily weather updates to a phone number using the Vonage node",
  "nodes": [
    {
      "name": "Vonage",
      "type": "n8n-nodes-base.vonage",
      "position": [
        770,
        260
      ],
      "parameters": {
        "to": "1234",
        "from": "Vonage APIs",
        "message": "=Hey! The temperature outside is {{$node[\"OpenWeatherMap\"].json[\"main\"][\"temp\"]}}°C.",
        "additionalFields": {}
      },
      "credentials": {
        "vonageApi": "vonage"
      },
      "typeVersion": 1
    },
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        370,
        260
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "OpenWeatherMap",
      "type": "n8n-nodes-base.openWeatherMap",
      "position": [
        570,
        260
      ],
      "parameters": {
        "cityName": "berlin"
      },
      "credentials": {
        "openWeatherMapApi": "owm"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Vonage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "id": "84",
    "name": "Send daily weather updates to a phone number using the Vonage node",
    "description": "",
    "source": "community-collection",
    "category": {
      "business": "",
      "platform": "",
      "type": "automation"
    },
    "metadata": {
      "complexity": "beginner",
      "department": "",
      "nodes_count": 3,
      "integrations": [
        "openWeatherMap",
        "vonage",
        "cron"
      ],
      "estimated_cost": "medium",
      "security_level": "public"
    },
    "tags": [],
    "created_at": "2025-07-07T19:46:34.952077",
    "updated_at": "2025-07-07T19:46:34.952078",
    "version": "1.0.0"
  }
}