workflows/community-collection/1195_Openweathermap_Pushover_Update_Scheduled.json
{
  "id": "91",
  "name": "Send daily weather updates via a push notification",
  "nodes": [
    {
      "name": "Pushover",
      "type": "n8n-nodes-base.pushover",
      "position": [
        970,
        300
      ],
      "parameters": {
        "message": "=Hey! The temperature outside is {{$node[\"OpenWeatherMap\"].json[\"main\"][\"temp\"]}}°C.",
        "userKey": "",
        "priority": 0,
        "additionalFields": {
          "title": "Today's Weather"
        }
      },
      "credentials": {
        "pushoverApi": "pushover"
      },
      "typeVersion": 1
    },
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        570,
        300
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "OpenWeatherMap",
      "type": "n8n-nodes-base.openWeatherMap",
      "position": [
        770,
        300
      ],
      "parameters": {
        "cityName": "berlin"
      },
      "credentials": {
        "openWeatherMapApi": "owm"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Pushover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "id": "91",
    "name": "Send daily weather updates via a push notification",
    "description": "",
    "source": "community-collection",
    "category": {
      "business": "",
      "platform": "",
      "type": "automation"
    },
    "metadata": {
      "complexity": "beginner",
      "department": "",
      "nodes_count": 3,
      "integrations": [
        "openWeatherMap",
        "pushover",
        "cron"
      ],
      "estimated_cost": "medium",
      "security_level": "public"
    },
    "tags": [],
    "created_at": "2025-07-07T19:46:34.735114",
    "updated_at": "2025-07-07T19:46:34.735115",
    "version": "1.0.0"
  }
}