workflows/community-collection/1203_Manual_Stackby_Automate_Triggered.json
{
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        450,
        300
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "ID",
              "value": 1
            }
          ],
          "string": [
            {
              "name": "Name",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "name": "Stackby",
      "type": "n8n-nodes-base.stackby",
      "position": [
        650,
        300
      ],
      "parameters": {
        "table": "Table 1",
        "columns": "ID, Name",
        "stackId": "stbgReRhlmmAgT2suT"
      },
      "credentials": {
        "stackbyApi": "Stackby API credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Stackby1",
      "type": "n8n-nodes-base.stackby",
      "position": [
        850,
        300
      ],
      "parameters": {
        "table": "={{$node[\"Stackby\"].parameter[\"table\"]}}",
        "stackId": "={{$node[\"Stackby\"].parameter[\"stackId\"]}}",
        "operation": "list",
        "additionalFields": {}
      },
      "credentials": {
        "stackbyApi": "Stackby API credentials"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Stackby",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stackby": {
      "main": [
        [
          {
            "node": "Stackby1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "id": "",
    "name": "Untitled Workflow",
    "description": "",
    "source": "community-collection",
    "category": {
      "business": "",
      "platform": "",
      "type": "automation"
    },
    "metadata": {
      "complexity": "beginner",
      "department": "",
      "nodes_count": 4,
      "integrations": [
        "set",
        "stackby",
        "manualTrigger"
      ],
      "estimated_cost": "medium",
      "security_level": "public"
    },
    "tags": [],
    "created_at": "2025-07-07T19:46:35.152233",
    "updated_at": "2025-07-07T19:46:35.152234",
    "version": "1.0.0"
  }
}