workflows/community-collection/1213_Gotowebinar_Automate.json
{
  "nodes": [
    {
      "name": "GoToWebinar2",
      "type": "n8n-nodes-base.goToWebinar",
      "position": [
        930,
        280
      ],
      "parameters": {
        "resource": "webinar",
        "webinarKey": "={{$node[\"GoToWebinar\"].json[\"webinarKey\"]}}"
      },
      "credentials": {
        "goToWebinarOAuth2Api": "GoToWebinar OAuth Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "GoToWebinar1",
      "type": "n8n-nodes-base.goToWebinar",
      "position": [
        730,
        280
      ],
      "parameters": {
        "resource": "webinar",
        "operation": "update",
        "webinarKey": "={{$json[\"webinarKey\"]}}",
        "updateFields": {
          "description": "Get started with n8n and create your first automation workflow"
        }
      },
      "credentials": {
        "goToWebinarOAuth2Api": "GoToWebinar OAuth Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "GoToWebinar",
      "type": "n8n-nodes-base.goToWebinar",
      "position": [
        520,
        280
      ],
      "parameters": {
        "times": {
          "timesProperties": [
            {
              "endTime": "2021-03-02T10:00:00.000Z",
              "startTime": "2021-03-02T09:00:00.000Z"
            }
          ]
        },
        "subject": "Getting started with n8n",
        "resource": "webinar",
        "operation": "create",
        "additionalFields": {}
      },
      "credentials": {
        "goToWebinarOAuth2Api": "GoToWebinar OAuth Credentials"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "GoToWebinar": {
      "main": [
        [
          {
            "node": "GoToWebinar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoToWebinar1": {
      "main": [
        [
          {
            "node": "GoToWebinar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "id": "",
    "name": "Untitled Workflow",
    "description": "",
    "source": "community-collection",
    "category": {
      "business": "",
      "platform": "",
      "type": "automation"
    },
    "metadata": {
      "complexity": "beginner",
      "department": "",
      "nodes_count": 3,
      "integrations": [
        "goToWebinar"
      ],
      "estimated_cost": "medium",
      "security_level": "public"
    },
    "tags": [],
    "created_at": "2025-07-07T19:41:49.101359",
    "updated_at": "2025-07-07T19:41:49.101360",
    "version": "1.0.0"
  }
}