workflows/community-collection/1229_Wise_Automate.json
{
  "nodes": [
    {
      "name": "Wise",
      "type": "n8n-nodes-base.wise",
      "position": [
        470,
        320
      ],
      "parameters": {
        "amount": 500,
        "resource": "quote",
        "operation": "create",
        "profileId": 16138858,
        "sourceCurrency": "EUR",
        "targetCurrency": "EUR",
        "targetAccountId": 147767974
      },
      "credentials": {
        "wiseApi": "Wise API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Wise1",
      "type": "n8n-nodes-base.wise",
      "position": [
        660,
        320
      ],
      "parameters": {
        "quoteId": "={{$json[\"id\"]}}",
        "resource": "transfer",
        "operation": "create",
        "profileId": 16138858,
        "targetAccountId": 147767974,
        "additionalFields": {
          "reference": "Thank you for the contribution"
        }
      },
      "credentials": {
        "wiseApi": "Wise API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Wise2",
      "type": "n8n-nodes-base.wise",
      "position": [
        870,
        320
      ],
      "parameters": {
        "resource": "transfer",
        "operation": "execute",
        "profileId": 16138858,
        "transferId": "={{$json[\"id\"]}}"
      },
      "credentials": {
        "wiseApi": "Wise API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Wise3",
      "type": "n8n-nodes-base.wise",
      "position": [
        1070,
        320
      ],
      "parameters": {
        "resource": "transfer",
        "transferId": "={{$node[\"Wise1\"].json[\"id\"]}}"
      },
      "credentials": {
        "wiseApi": "Wise API Credentials"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Wise": {
      "main": [
        [
          {
            "node": "Wise1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise1": {
      "main": [
        [
          {
            "node": "Wise2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise2": {
      "main": [
        [
          {
            "node": "Wise3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "id": "",
    "name": "Untitled Workflow",
    "description": "",
    "source": "community-collection",
    "category": {
      "business": "",
      "platform": "",
      "type": "automation"
    },
    "metadata": {
      "complexity": "beginner",
      "department": "",
      "nodes_count": 4,
      "integrations": [
        "wise"
      ],
      "estimated_cost": "medium",
      "security_level": "public"
    },
    "tags": [],
    "created_at": "2025-07-07T19:46:34.450756",
    "updated_at": "2025-07-07T19:46:34.450757",
    "version": "1.0.0"
  }
}